/*** Display***/

.d-flex {
  display: flex;
}

/*** Flex ***/

.flex-grow {
  flex-grow: 1;
}

/*** Aligh and Justify ***/

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}
